*{
    margin: 0;
    padding: 0;
    letter-spacing:0.1em;
}
#largeur-max{
    max-width: 2000px;
    width: 100%;
} 
header{
    height: 100vh;
    width: 100%;
    position: relative;
}

header > div{
    height: 100vh;
    width: 100%;
    position: absolute;
    
}

header > div > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header > nav{
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #9B5855;
}
#logo{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;

}
header > nav > ul{
    display: flex;
    justify-content: space-around;
}

header > nav > ul > li{
    height: 100%;
    list-style-type: none;
    
}

#burger > img{
    position: absolute;
    height: 60px;
    width: 60px;
    left: 40px;
    top: 15px;
    display: none;
    
   
}

#prestations{
    display: block;
    line-height: 90px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #FCFF38;
    font-size: 1.5em;
    width: 320px;
    transition: 1s;
    font-weight: bold;
    text-align: center;

}
header > nav > ul > li > a{
    display: block;
    line-height: 90px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #FCFF38;
    font-size: 1.5em;
    padding: 0 20px;
    transition: 1s;
    font-weight: bold;
}



header > nav > ul > li:hover >a, #prestations:hover{
   background-color: #A8549A;
   cursor: pointer;
}

#sousmenu{
    transform: scale(0);
    transform-origin: bottom center;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: -450px;
    background-color:#A8549A ;
    opacity: .8;
}

#sousmenu li{
    transition: all 300ms ease-in-out;
    list-style-type: none;
    width: 320px;
    text-align: center;
    transition: 1s;
}

#sousmenu a{
    color: #FCFF38;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    
}

#prestations:hover  #sousmenu li {
    transform: scale(1);
  }
#prestations:hover  #sousmenu {
    transform: scale(1);
  }

  #sousmenu li:hover{
    background-color: #9B5855;
  }
  @media (max-width: 1400px){
    #prestations{
        font-size: 1.2em;
    }
    header > nav > ul > li > a{
        font-size: 1.2em;
    }
}
@media (max-width: 1200px){
    header > nav > ul > li > a{
        padding: 0 5px;
    }
    #sousmenu li{
        width: 250px;
    }
    #prestations{
        width: 250px;
    }
}

@media (max-width: 1050px){
    #prestations{
        font-size: 1em;
    }
    header > nav > ul > li > a{
        font-size: 1em;
    }
}

@media (max-width: 900px) {
    header > div > video {
        display: none;
    }
    header > div{
        background: url(./img/vue-profil-jolie-jeune-femme-qui-equilibre-son-energie-lors-seance-reiki-dans-clinique-sante-spa_662251-1994.webp) center center / cover no-repeat ;;
    }
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
    #prestations{
        font-size: 0.7em;
    }
    header > nav > ul > li > a{
        font-size: 0.7em;
    }
    #sousmenu li{
        width: 200px;
    }
    #prestations{
        width: 200px;
    }
}
@media screen and (max-width: 700px){
    header > nav > ul{
        display: none;
    }
    #burger > img{
        display: block;
    }
  
}

