*{
    margin: 0;
    padding: 0;
    letter-spacing:0.1em;
}
#largeur-max{
    max-width: 2000px;
    width: 100%;
} 

header {
    height: 100vh;
    width: 100%;
    position: absolute;
    
}
#desktop {
    height: 100vh;
}


#desktop > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header > nav{
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #9B5855;
    display: flex;
    justify-content: space-around;
    
}
#logo{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;

}


header > nav > ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header > nav > ul > li{
    height: 100%;
    list-style-type: none;
    
}

#mobil{
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: all 1.5s;
    transform-origin: bottom;
}
#menu-mobil{
    float: right;
    background-color: #B49051;
    display: flex;
    justify-content: space-around;
    width:calc(100% - 50px);
   
}

.icon{
    height: 40px;
    padding: 0 10px;
  }
.nav-image{
    height: 30px;
    padding: 5px 0;
}
#burger{
    float: left;
    width: 50px;
    height: 100%;
    background-color:#9B5855;
    cursor: pointer;
}
#burger > img{
    position: absolute;
    height: 30px;
    left: 10px;
    top: 10px;
    width: 30px;
}

#croix {
    color: #FCFF38;
    text-transform: uppercase;
   font-weight: bold; 
   height: 0;
   width: 30px;
   position: absolute;
   font-size: 1.5em;
   overflow: hidden;
}

#croix2
{
    color: #FCFF38;
   text-transform: uppercase;
   font-weight: bold; 
   height: 0;
   width: 30px;
   position: absolute;
   font-size: 1.5em;
   overflow: hidden;
   
}



#prestations{
    display: flex;
    align-items: center;
    line-height: 90px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #FCFF38;
    font-size: 1.5em;
    width: 320px;
    padding-left: -40px;
    transition: 1s;
    font-weight: bold;
    text-align: center;
    justify-content: space-around;
    transition: 0.3s;
    

}

#triangle{
    width: 30px;
    
    display: none;
}

#prestations > figure > img{
    width: 30px;
    padding-bottom: 20px;
}
header > nav > ul > li > a{
    display: block;
    line-height: 90px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #FCFF38;
    font-size: 1.5em;
    padding: 0 20px;
    transition: 1s;
    font-weight: bold;
}



header > nav > ul > li:hover >a, #prestations:hover{
   background-color: #A8549A;
   cursor: pointer;
}


#sousmenu{
    transform: scale(0);
    transform-origin: bottom center;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: -450px;
    background-color:#A8549A ;
    opacity: .8;
}

#sousmenu li{
    transition: all 300ms ease-in-out;
    list-style-type: none;
    width: 320px;
    text-align: center;
    transition: 1s;
    
}

#sousmenu a{
    color: #FCFF38;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    
}

#prestations:hover  #sousmenu li {
    transform: scale(1);
  }
#prestations:hover  #sousmenu {
    transform: scale(1);
  }

  #sousmenu li:hover{
    background-color: #9B5855;
  }

  
  @media (max-width: 1430px){
    #prestations{
        font-size: 1.2em;
    }
    header > nav > ul > li > a{
        font-size: 1.2em;
    }
}
@media (max-width: 1260px){
    header > nav > ul > li > a{
        padding: 0 5px;
    }
    #sousmenu li{
        width: 300px;
    }
    #prestations{
        width: 300px;
    }
}

@media (max-width: 1060px){
    #prestations{
        font-size: 1em;
    }
    header > nav > ul > li > a{
        font-size: 1em;
    }
}

@media (max-width: 960px) {
    #desktop > video {
        display: none;
    }
    #desktop{
        background: url(./img/vue-profil-jolie-jeune-femme-qui-equilibre-son-energie-lors-seance-reiki-dans-clinique-sante-spa_662251-1994.webp) center center / cover no-repeat ;
    }
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
    #prestations{
        font-size: 0.7em;
    }
    header > nav > ul > li > a{
        font-size: 0.7em;
    }
    #sousmenu li{
        width: 200px;
    }
    #prestations{
        width: 200px;
    }
}
@media screen and (max-width: 700px){
#mobil{
        height: 40px;
    }

#menu{
    position: absolute;
    overflow: hidden;
    height: 0;
    transform: all 1s;
}

#menu.active{
height: 100vh;
z-index: 99;
justify-content: space-around;
align-items: center;
    
    
}
#menu.active > ul{
    flex-direction: column;
    align-items: center;
    
    

}

#menu.active #croix{
    top: 10px;
    right: 10px;
    height: 30px;
    cursor: pointer;
}

#sousmenu{
    position: absolute;
    overflow: hidden;
    height: 0;
    transform: all 1s;
}

#sousmenu.active{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 1;
    z-index: 200;
    justify-content: space-around;
    align-items: center;
    transform: scale(1);
    padding: 0;
    display: flex;
    flex-direction: column;
    
   
    
    
}
#sousmenu.active > ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;  
}

#sousmenu.active #croix2{
    top: 10px;
    right: 10px;
    height: 30px;
    cursor: pointer;
    overflow:visible;
}

#prestations{
    padding-left: 40px;
   
}
#prestations:hover{
    cursor:default;
}

#triangle{
    display: block;
    height: 30px;
    cursor: pointer;
}

}